#navBar {
    width: 100%;
    height: 10%;
    background-color: rgb(50, 50, 50);
    font-size: auto;
    color: rgb(100, 100, 100);
}

html, head, body {
    margin: 0;
    padding: 0;
    font-family: "Impact";
    background-color: rgb(30, 30, 60);
}

.navBarItem {
    text-align: center;
    display: inline-block;
    width: 15%;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navBarItem:hover {
    color: rgb(125, 125, 125);
    background-color: rgb(75, 75, 75);
}

a {
    text-decoration: inherit;
    color: inherit;
}

#title {
    text-align: center;
    font-size: 60px;
    color: rgb(120, 100, 80);
}

.screenshot {
    width: 50%;
    height: 50%;
}

.release-subtext {
    font-size: 20px;
}

.release-section {
    text-align: center;
    font-family: "Verdana";
    color: white;
}

.version-subtext {
    font-size: 20px;
}

.version-section {
    text-align: center;
    font-family: "Verdana";
    color: rgb(140, 120, 100);
}

.release-title {
    font-size: 40px;
}

.version-title {
    font-size: 30px;
}

.download {
    color: rgb(255, 150, 150);
}

.list {
    font-size: 16px;
    color: rgb(200, 200, 200);
}
